<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <h1 class="text-center mt-4">REGISTER</h1>
  
  <% if (typeof error !== 'undefined') { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  
  <form class="mt-4" action="/register" method="POST" id="register-form">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required>
      <br><br>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      <br><br>
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <br><br>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/login" class="btn btn-danger">Back to login</a>

  </form>

</body>
</html>


<script>
  const registerForm = document.getElementById('register-form');
  document.getElementById('register-form').addEventListener("submit", async function (event) {
      event.preventDefault(); // Prevent form submission
      
      const formData = new FormData(registerForm);
      const name = formData.get("name");
      const email = formData.get("email");
      const password = formData.get("password");
      try {
          // Perform AJAX request
          const response = await fetch("/register", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              },
              body: JSON.stringify({ name, email, password }),
          });

          if (response.ok) {
              const data = await response.json();
              if (data.success) {
                  // Show success message
                  swal("Success", "Register successfully!", "success")
                      .then(() => {
                          // Redirect to a new page or perform any additional action
                          window.location.href = "/login"; // Redirect to home page
                      });
              } else {
                  // Show error message
                  swal("Error", "An error occurred while register.", "error");
              }
          } else {
              throw new Error("Request failed with status: " + response.status);
          }
      } catch (error) {
          console.error(error);
          // Show error message
          swal("Error", "An error occurred while register.", "error");
      }
  });
</script>
